<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="/vendor/materialize/dist/js/materialize.min.js"></script>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/vendor/materialize/dist/css/materialize.min.css"
          media="screen,projection"/>
</head>

<body>
{{{body}}}
</body>
</html>